<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943973740054-1s1dc4d5vsde30b06vrj967svnekuka0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943973740054-1s1dc4d5vsde30b06vrj967svnekuka0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>943973740054-6f1398ocpo2a9qpbgjqbd2q1h1k6dvjm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyABB4lVP7WJWggMXm0yJ_VS1ItV0ULLEe4</string>
	<key>GCM_SENDER_ID</key>
	<string>943973740054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.linemeup.parent</string>
	<key>PROJECT_ID</key>
	<string>spl-locator</string>
	<key>STORAGE_BUCKET</key>
	<string>spl-locator.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943973740054:ios:d1b2be7e1877eff0888f37</string>
</dict>
</plist>